client
nobind
dev tun
key-direction 1
remote-cert-tls server

remote {{ovpnc_server}}

<key>
{{ovpnc_key_priv}}
</key>

<cert>
{{ovpnc_key_cert}}
</cert>

<ca>
{{ovpnc_key_ca}}
</ca>

<tls-auth>
{{ovpnc_key_stat}}
</tls-auth>

key-direction 1

auth-nocache
comp-lzo
reneg-sec 259200
